[package]
name = "vaultrs"
version = "0.5.3"
authors = ["Joshua Gilman <joshuagilman@gmail.com>"]
description = "An asynchronous Rust client library for the Hashicorp Vault API."
license = "MIT"
readme = "README.md"
repository = "https://github.com/jmgilman/vaultrs"
keywords = ["Vault", "API", "Client", "Hashicorp"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [
    "vaultrs-login",
]

[dependencies]
async-trait = "0.1.51"
bytes = "1.0.1"
derive_builder = "0.10.2"
http = "0.2.4"
reqwest = { version = "0.11.4", default-features = false, features = ["rustls-tls"] }
rustify = "0.4.4"
rustify_derive = "0.4.3"
serde = { version = "1.0.127", features = ["derive"] }
serde_json = "1.0.66"
serde_with = "1.9.4"
thiserror = "1.0.26"
url = "2.2.2"
tracing = {version = "0.1.27", features = ["log"] }

[dev-dependencies]
tokio-test = "0.4.2"
tracing-subscriber = {version = "0.2.17", default-features = false, features = ["env-filter", "fmt"]}
tracing-test = "0.1"
test-env-log = { version = "0.2.7", features = ["trace"] }
env_logger = "0.9.0"
dockertest-server = { version = "0.1.2", features = ["hashi", "database"] }
