[package]
name = "vaultrs"
version = "0.6.2"
authors = ["Joshua Gilman <joshuagilman@gmail.com>"]
description = "An asynchronous Rust client library for the Hashicorp Vault API."
license = "MIT"
readme = "README.md"
repository = "https://github.com/jmgilman/vaultrs"
keywords = ["Vault", "API", "Client", "Hashicorp"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [
    "vaultrs-login",
]

[features]
default = [ "rustls" ]
rustls = [ "reqwest/rustls-tls", "rustify/rustls-tls" ]
native-tls = [ "reqwest/default-tls", "rustify/default" ]

[dependencies]
async-trait = "0.1.68"
bytes = "1.4.0"
derive_builder = "0.12.0"
http = "0.2.9"
reqwest = { version = "0.11.15", default-features = false }
rustify = { version = "0.5.3", default-features = false }
rustify_derive = "0.5.2"
serde = { version = "1.0.158", features = ["derive"] }
serde_json = "1.0.94"
thiserror = "1.0.40"
url = "2.3.1"
tracing = { version = "0.1.37", features = ["log"] }

[dev-dependencies]
base64 = "0.21"
data-encoding = "2.3.3"
tokio-test = "0.4.2"
tracing-subscriber = { version = "0.3.16", default-features = false, features = ["env-filter", "fmt"] }
tracing-test = "0.2.4"
test-log = { version = "0.2.11", features = ["trace"] }
env_logger = "0.10.0"
dockertest-server = { version = "0.1.7", features = ["hashi", "database", "webserver", "cloud"] }
jwt = "0.16.0"
sha2 = "0.10.6"
hmac = "0.12.1"
serial_test = "1.0.0"
