[package]
name = "vaultrs"
version = "0.5.4"
authors = ["Joshua Gilman <joshuagilman@gmail.com>"]
description = "An asynchronous Rust client library for the Hashicorp Vault API."
license = "MIT"
readme = "README.md"
repository = "https://github.com/jmgilman/vaultrs"
keywords = ["Vault", "API", "Client", "Hashicorp"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [
    "vaultrs-login",
]

[dependencies]
async-trait = "0.1.51"
bytes = "1.1.0"
derive_builder = "0.10.2"
http = "0.2.5"
reqwest = { version = "0.11.6", default-features = false, features = ["rustls-tls"] }
rustify = "0.5.2"
rustify_derive = "0.5.2"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.68"
thiserror = "1.0.30"
url = "2.2.2"
tracing = { version = "0.1.29", features = ["log"] }

[dev-dependencies]
base64 = "0.13"
tokio-test = "0.4.2"
tracing-subscriber = { version = "0.3.1", default-features = false, features = ["env-filter", "fmt"] }
tracing-test = "0.1.0"
test-env-log = { version = "0.2.7", features = ["trace"] }
env_logger = "0.9.0"
dockertest-server = { version = "0.1.4", features = ["hashi", "database", "cloud"] }
